<div class="container">
  <div class="row" *ngIf="meeting.length">
    <div class="card pb-3" style="width: 18rem;"  *ngFor="let meet of meeting">
      <div class="card-body">
        <small>data: </small><h5 class="card-title">{{meet.date}} {{meet.topic}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Locatia: <small>{{meet.location}}</small></h6>
      </div>
      <div *ngIf="checkUserId(meet.user_id)">
        <div *ngIf="meet.accept == null">
          asteptare
        </div>
        <div *ngIf="meet.accept == 1">
          <small class="text-success text-center">accepted</small>
        </div>
        <div *ngIf="meet.accept == 0">
          <small class="text-danger text-center">ignored</small>
        </div>
      </div>
      <div *ngIf="!checkUserId(meet.user_id)">
          <div *ngIf="meet.accept == null">
            <button class="btn btn-success">Accepta</button>
            <button class="btn btn-danger">Refuza</button>
          </div>
          <div *ngIf="meet.accept == 1">
            <small class="text-success text-center">accepted</small>
          </div>
          <div *ngIf="meet.accept == 0">
            <small class="text-danger text-center">ignored</small>
          </div>
      </div>
      <small class="btn btn-info">Vezi invitatia</small>
    </div>
  </div>
</div>
