<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container mt-5" style="padding-top: 25px !important">
  <app-nav></app-nav>
  </div>

<form [formGroup]="adaugaEvent" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="e-mail">Eveniment: </label>
    <input id="eveniment" class="form-control" type="text" formControlName="eveniment">
  </div>
  <div class="form-group">
    <label for="first-name">Locatie: </label>
    <input id="locatie" class="form-control" type="text" formControlName="locatie">
  </div>
  <div class="form-group">
    <label for="last-name">Data: </label>
    <input id="data" class="form-control" type="date" formControlName="data">
  </div>
  <div class="form-group">
    <label for="varsta">Pret: </label>
    <input id="pret" class="form-control" type="number" formControlName="pret">
  </div>
  <button type="submit" class="btn btn-dark mt-3" [disabled]="!adaugaEvent.valid">Submit</button>
</form>
