<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container mt-5" style="padding-top: 25px !important">
  <app-nav></app-nav>
  </div>

<form class="d-flex"  [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!loggedIn">
  <input
    class="form-control me-2"
    type="text"
    name="email"
    formControlName="username"
    placeholder="username"
    aria-label="Username">
    <input
    class="form-control me-2"
    type="password"
    name="password"
    formControlName="password"
    placeholder="password"
    aria-label="Username">
  <button class="btn btn-outline-dark" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>


