<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Elevat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <li class="nav-item" *ngIf="!accountService.isLoggedIn()">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <!-- <li class="nav-item" *ngIf="accountService.isLoggedIn()">
            <a class="nav-link" routerLink="/profil" routerLinkActive="active">Profil</a>
          </li>
          <li class="nav-item" *ngIf="accountService.isLoggedIn()">
            <a class="nav-link" routerLink="/intalnire" routerLinkActive="active">intalnire</a>
          </li> -->
          <li class="nav-item" *ngIf="accountService.isLoggedIn() && accountService.isElev()">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">profile</a>
          </li>
          <li class="nav-item" *ngIf="accountService.isAdmin()">
            <a class="nav-link" routerLink="/evenimente" routerLinkActive="active">evenimente</a>
          </li>
          <li class="nav-item" *ngIf="accountService.isAdmin()">
            <a class="nav-link" routerLink="/elevi" routerLinkActive="active">elevi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">{{accountService.username()}}</a>
          </li>
          <li class="nav-item" *ngIf="accountService.isLoggedIn()">
            <button class="btn btn-info" (click)="logout()">
              Log out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
