<div class="container">
  <div class="col-md-4">
    <a class="nav-link btn btn-dark text-white" routerLink="/adauga-eveniment" routerLinkActive="active">adauga eveniment</a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">eveniment</th>
          <th scope="col">locatie</th>
          <th scope="col">data</th>
          <th scope="col">pret</th>
          <th scope="col">Editare</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{event.eveniment}}</td>
          <td>{{event.locatie}}</td>
          <td>{{event.data}}</td>
          <td>{{event.pret}}</td>
          <td><a routerLink="/editare-eveniment/{{event.id}}" class="text-white btn btn-dark">Editare</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
