<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <div class="container mt-5" style="padding-top: 25px !important" *ngIf="(role =='admin')">
  <app-admin></app-admin>
</div> -->
<div class="container mt-5" style="padding-top: 25px !important">
  <app-nav></app-nav>
</div>
<app-footer></app-footer>
