<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container mt-5" style="padding-top: 25px !important">
  <app-nav></app-nav>
  </div>

<form [formGroup]="elevNou" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="e-mail">E-Mail: </label>
    <input id="email" class="form-control" type="text" formControlName="email">
  </div>
  <div class="form-group">
    <label for="first-name">First Name: </label>
    <input id="nume" class="form-control" type="text" formControlName="nume">
  </div>
  <div class="form-group">
    <label for="last-name">Last Name: </label>
    <input id="prenume" class="form-control" type="text" formControlName="prenume">
  </div>
  <div class="form-group">
    <label for="varsta">Varsta: </label>
    <input id="varsta" class="form-control" type="text" formControlName="varsta">
  </div>
  <div class="form-group">
    <label for="adresa">Adresa: </label>
    <input id="adresa" class="form-control" type="text" formControlName="adresa">
  </div>
  <div class="form-group">
    <label for="role">Rol: </label>
    <input id="role" class="form-control" type="text" formControlName="role">
  </div>
  <div class="form-group">
    <label for="clasa">Clasa: </label>
    <input id="clasa" class="form-control" type="text" formControlName="clasa">
  </div>
  <div class="form-group">
    <label for="liceul">Liceul: </label>
    <input id="liceul" class="form-control" type="text" formControlName="liceul">
  </div>
  <div class="form-group">
    <label for="telefon">Telefon: </label>
    <input id="telefin" class="form-control" type="text" formControlName="telefon">
  </div>
  <p>Required *</p>
  <button type="submit" class="btn btn-outline-dark" [disabled]="!elevNou.valid">Submit</button>
</form>
