<div class="container" *ngFor="let event of events">
  <div class="jumbotron bg-info" style="padding: 10px; border-bottom: 4px solid white">
    <h1 class="display-4">{{event.eveniment}}</h1>
    <p class="lead">{{event.data}}</p>
    <hr class="my-4">
    <h4><small>Locatie: </small>{{event.locatie}}</h4>
    <p><small>Pret:</small>{{event.pret}}</p>

    <button class="btn {{event.participanti.length > 0 ? 'btn-dark' : 'btn-primary'}}" (click)="going(event)">
      {{event.participanti.length > 0 ? 'Petrece placuta' : 'Participa' }}
    </button>
  </div>
</div>

