<div class="container">
  <div class="row" *ngIf="profile.length">
    <div class="card" style="width: 18rem;" *ngFor="let elev of profile">
      <div *ngFor="let photo of elev.photo">
        <img width="250px" height="250px" src={{photo.avatar}} alt="Card image cap">
      </div>
      <div class="card-body">
        <p class="card-text">Profile {{elev.nume}} {{elev.varsta}}</p>
        <button class="btn btn-primary">invita</button>
      </div>
    </div>
  </div>
</div>

