/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: #31d2f2;
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body ul li {
    list-style-type: none;
}

nav {
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: inline-flex;
}

nav ul li a {
    color: aquamarine;
    padding: 7px;
    text-decoration: none;
    font-size: 20px;

}

nav ul li {
    list-style-type: none;
}

ul {
    margin: 0;
}

.avatar {
  width: 250px;
  height: 250px;
}

a {
  text-decoration: none;
}
