<div class="container">
  <div class="col-md-4">
    <a class="nav-link btn btn-dark text-white" routerLink="/adauga-elev" routerLinkActive="active">adauga elev</a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nume</th>
          <th scope="col">Prenume</th>
          <th scope="col">Email</th>
          <th scope="col">Varsta</th>
          <th scope="col">Rol</th>
          <th scope="col">Clasa</th>
          <th scope="col">Liceul</th>
          <th scope="col">editare</th>
        </tr>
      </thead>
      <tbody *ngIf="elevi.length">
        <tr *ngFor="let elev of elevi">
          <th scope="row">{{elev.id}}</th>
          <td>{{elev.nume}}</td>
          <td>{{elev.prenume}}</td>
          <td>{{elev.email}}</td>
          <td>{{elev.varsta}}</td>
          <td>{{elev.role}}</td>
          <td>{{elev.clasa}}</td>
          <td>{{elev.liceul}}</td>
          <td><a routerLink="/editare-elev/{{elev.id}}" class="text-white btn btn-dark">Editare</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

