<div class="container mt-5">
  <app-nav></app-nav>
</div>
<div class="container mt-5">
<h2>Register new user</h2>
<form class="d-flex" #loginForm="ngForm" (ngSubmit)="register()">
  <input
    class="form-control me-2"
    type="text"
    name="username"
    [(ngModel)]="model.username"
    placeholder="username"
    aria-label="Username">
    <input
    class="form-control me-2"
    type="password"
    name="password"
    [(ngModel)]="model.password"
    placeholder="password"
    aria-label="Username">
  <button class="btn btn-outline-success" type="submit">Register</button>
</form>
<div class="text-success">{{success}}</div>
</div>
